/*

   TopLeft -> BottomLeft
   x1:0, y1:0, x2:0, y2:1

   TopLeft -> BottomRight
   (x1:0, y1:0, x2:1, y2:1   
*/

QToolTip {
   font: bold;
}

QComboBox QAbstractItemView {
   selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                               stop: 0 #6a6ea9, 
                                               stop: 1 #888dd9);
}

QDockWidget::title {
   padding: 3px 20px;
   background: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                               stop: 0   palette(light), 
                               stop: 0.5 palette(midlight), 
                               stop: 1   palette(dark));
}

/*
   трансляторы
*/
Trans { 
   font-size: 12pt;
   font-weight: bold; 
   selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                               stop: 0 #6a6ea9, 
                                               stop: 1 #888dd9);
}

DevaPicker QPushButton {
   font-family: Siddhanta-Calcutta;
   font-size: 12pt;
   border-radius: 2px;
   border: 1px groove palette(dark);
   background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                               stop: 0   palette(light), 
                               stop: 0.5 palette(midlight), 
                               stop: 1   palette(light));
}

DevaPicker QPushButton:hover {
   color: #800000; 
}

/*
   список слов
*/
QListView { 
   font-family: Siddhanta-Calcutta;
   font-size: 12pt; 
}

QListView::item:selected:active {
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                               stop: 0 #6a6ea9, 
                               stop: 1 #888dd9);
}

QListView::item:hover {
   background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                               stop: 0 #fafbfe, 
                               stop: 1 #dcdef1);
}

/*
   поиск
*/
QTableView {
   gridline-color: palette(midlight);
   selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                               stop: 0 #6a6ea9, 
                                               stop: 1 #888dd9);
}

span.result {
   font-family: Siddhanta-Calcutta;
   font-size: 10pt;
}

/* span.result span.deva {
   color: #800000; 
}
 */
/*
   combo
*/
QComboBox { 
   font-family: Siddhanta-Calcutta;
   font-size: 12pt;  
   font-weight: bold;
   selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                               stop: 0 #6a6ea9, 
                                               stop: 1 #888dd9);
}

/*
   карточка
*/
QTextEdit {
   /*font-family: Arial;*/                    
   font-size: 12pt;
   border: 2px solid palette(dark);
   border-radius: 10px;
   background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
                               stop: 0   palette(light), 
                               stop: 1 palette(midlight));
   selection-background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                               stop: 0 #6a6ea9, 
                                               stop: 1 #888dd9);
}

p.header {
   font-family: Siddhanta-Calcutta;
   font-size: 34pt;
   font-weight: bold;
}

p.name {
   font-size: 14pt;
   font-weight: bold;
   font-style: italic;
   margin-left: 20px;
}

p.count {
   font-style: italic;
}

p.item {
   margin-left: 20px;
} 

strong.deva { 
   font-family: Siddhanta-Calcutta;
   color: #800000; 
   /* font-size: 12pt; */
}

strong.abbs {
   font-style: italic;
}

/*
   аббревиатуры
*/
table.abbs {
   font-size: 10pt; 
}

table.abbs td.abb {
   font-style: italic;
}

/*
   схема
*/
table.map {
   font-size: 10pt; 
}
   
table.map .vowels td,
table.map .consonants td,
table.map .miscellaneous td, 
table.map .numbers td  {
   font-family: Siddhanta-Calcutta;
   color: #8a0000;
} 

table.map .vowels,
table.map .consonants,
table.map .miscellaneous, 
table.map .numbers {
   background: palette(midlight); 
}

table.map .vowels td.type,
table.map .consonants td.type,
table.map .miscellaneous td.type, 
table.map .numbers td.type {
   color: black;
}